@(message: String)

<html>
    <head>
    <script type="text/javascript">
    function Validate() {
        names = GetAllRadioNames();
        console.log("names : " + names);
        
        for (var i = 0; i < names.length; i++) {
           ValidateSingleTest(names[i]);
            
        }

    }
        
    function ValidateSingleTest(name) {
        var radios = document.getElementsByName(name);

        for (var i = 0; i < radios.length; i++) {
            if (radios[i].checked) {
                console.log("Selected Value of test name: " + name + " " + radios[i].value);
                return true; // checked
            }
        }

    // not checked, show error
        document.getElementById('ValidationError').innerHTML = 'Error!!!';

            
        return false;
    }
        
    function GetAllRadioNames() {
        var radioButtons = [];
        var names = [];
        radioButtons = document.getElementById("survey1");
        
        for (var i = 0; i < radioButtons.length ; i++) {
                if(radioButtons[i].type == 'radio') {
                    if (!names.includes(radioButtons[i].name)) {
                        names.push(radioButtons[i].name);    
                    }
                }
            
        }
        return names;
    }
        
        
        
</script>
        <title>Projekt RAIM</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("/stylesheets/main.css")">
    </head>
    <body>
        <div class="main">
            <h1>Ankieta na temat poglądów religijnych</h1>
            <span></span>
        </div>
        <form name="survey" id="survey1">
            <div class="box">
                <h1>@message</h1>
                <label>
                    <span> <img src="@routes.Assets.at("images/favicon.png")"> 1.Wiek</span>
                    <fieldset>
                            <label> <input type="radio" name="age" value="1"> 10 - 15 </label>
                            <label> <input type="radio" name="age" value="2"> 15 - 20 </label>
                            <label> <input type="radio" name="age" value="3"> 20 - 25 </label>
                            <label> <input type="radio" name="age" value="4"> 25 - 30 </label>
                            <label> <input type="radio" name="age" value="5"> 30 - 35 </label>
                            <label> <input type="radio" name="age" value="6"> więcej niż 35</label>
                    </fieldset>
                </label>
                
                 <label>
                    <span> <img src="@routes.Assets.at("images/favicon.png")"> 2.Płeć</span>
                    <fieldset>
                            <label> <input type="radio" name="gender" value="1"> kobieta </label>
                            <label> <input type="radio" name="gender" value="2"> mężczyzna </label>
                    </fieldset>
                </label>
                
                 <label>
                    <span> <img src="@routes.Assets.at("images/favicon.png")"> 3.Miejsce zamieszkania</span>
                    <fieldset>
                            <label> <input type="radio" name="accomodation" value="1"> wieś </label>
                            <label> <input type="radio" name="accomodation" value="2"> miasto do 10 tyś. ludzi </label>
                            <label> <input type="radio" name="accomodation" value="3"> miasto do 25 tyś. ludzi </label>
                            <label> <input type="radio" name="accomodation" value="4"> miasto do 100 tyś. ludzi </label>
                            <label> <input type="radio" name="accomodation" value="5"> miasto powyżej 100 tyś. ludzi </label>
                    </fieldset>
                </label>
                
                <label>
                    <span> <img src="@routes.Assets.at("images/favicon.png")"> 4.Na jakim kierunku studiów uczysz się/ jaki skończyłeś/aś ?</span>
                    <fieldset>
                            <label> <input type="radio" name="education_path" value="1"> humanistyczny</label>
                            <label> <input type="radio" name="education_path" value="2"> ścisły </label>
                            <label> <input type="radio" name="education_path" value="3"> nie studiuje i nie ukończyłem/łam żadnych studiów</label>
                    </fieldset>
                </label>
                
                <label>
                    <span> <img src="@routes.Assets.at("images/favicon.png")"> 5.Jeżeli studiujesz, to na którym roku studiów jesteś ?</span>
                    <fieldset>
                            <label> <input type="radio" name="religion_0" value="1"> 1</label>
                            <label> <input type="radio" name="religion_0" value="2"> 2 </label>
                            <label> <input type="radio" name="religion_0" value="3"> 3</label>
                            <label> <input type="radio" name="religion_0" value="4"> 4 </label>
                            <label> <input type="radio" name="religion_0" value="5"> 5</label>
                            <label> <input type="radio" name="religion_0" value="6"> >5</label>
                            <label> <input type="radio" name="religion_0" value="7"> nie dotyczy </label>
                    </fieldset>
                </label>
                
                <label>
                    <span> <img src="@routes.Assets.at("images/favicon.png")"> 6.Jaki jest twój stosunek do wiary ?</span>
                    <fieldset>
                            <label> <input type="radio" name="religion_1" value="1"> jestem wierzący/a</label>
                            <label> <input type="radio" name="religion_1" value="2"> wierzę w siłę nadprzyrodzoną, ale nie w żadną religię</label>
                            <label> <input type="radio" name="religion_1" value="3"> ateista/ka</label>
                            <label> <input type="radio" name="religion_1" value="4"> nie jestem uduchowiony/a w żaden sposób </label>
                    </fieldset>
                </label>
                
                <label>
                    <span> <img src="@routes.Assets.at("images/favicon.png")"> 7.Czy twoja rodzina jest wierząca ?</span>
                    <fieldset>
                            <label> <input type="radio" name="religion_2" value="1"> tak</label>
                            <label> <input type="radio" name="religion_2" value="2"> nie </label>
                    </fieldset>
                </label>
                
                <label>
                    <span> <img src="@routes.Assets.at("images/favicon.png")"> 6.Jak bardzo wiara jest ważna w twoim życiu ?</span>
                    <fieldset>
                            <label> <input type="radio" name="religion_3" value="1"> nie ma dla mnie znaczenia </label>
                            <label> <input type="radio" name="religion_3" value="2"> ważna </label>
                            <label> <input type="radio" name="religion_3" value="3"> bardzo ważna </label>
                    </fieldset>
                </label>
                
                <label>
                    <span> <img src="@routes.Assets.at("images/favicon.png")"> 7.Jak bardzo czujesz potrzebę niesienia pomocy innym ludziom ?</span>
                    <fieldset>
                            <label> <input type="radio" name="religion_4" value="1"> chciałbym/łabym aby efekty mojej pracy pomagały ludziom</label>
                            <label> <input type="radio" name="religion_4" value="2"> pomagam, ale tylko ludziom w moim otoczeniu</label>
                            <label> <input type="radio" name="religion_4" value="3"> pomagam, ale tylko jeżeli ktoś poprosi mnie o pomoc </label>
                            <label> <input type="radio" name="religion_4" value="4"> nie czuję żadnej wewnętrznej potrzeby niesienia pomocy ludziom</label>
                    </fieldset>
                </label>
                <div id="ValidationError" name="ValidationError"></div>
                <label>
                <input type="button" class="button" value="Wyślj" onclick="return Validate();"/>
                </label>
            </div>
        </form>
    </body>
    
</html>