@import scala.collection.immutable.ListMap
@(message: String, questions: ListMap[String, Map[String, List[String]]])

<html>
    <head>
        <script type="text/javascript">
            function Validate() {
                document.getElementById('ValidationError').innerHTML = ''
                var names = GetAllRadioNames();
                console.log("names : " + names);
                var validated = true;

                for (var i = 0; i < names.length; i++) {
                   validated = ValidateSingleTest(names[i], i+1);
                }
                return validated
            }
                
            function ValidateSingleTest(name, num) {
                var radios = document.getElementsByName(name);
        
                for (var i = 0; i < radios.length; i++) {
                    if (radios[i].checked) {
                        console.log("Selected Value of test name: " + name + " " + radios[i].value);
                        return true; // checked
                    }
                }
            // not checked, show error
                document.getElementById('ValidationError').innerHTML += '<span style="color: red"><center>Odpowiedz w punkcie numer ' + num + '!</center></span><br>';
                return false;
            }
                
            function GetAllRadioNames() {
                var names = [];
                var radioButtons = document.getElementById("survey");
                
                for (var i = 0; i < radioButtons.length ; i++) {
                        if(radioButtons[i].type == 'radio') {
                            if (!names.includes(radioButtons[i].name)) {
                                names.push(radioButtons[i].name);    
                            }
                        }
                    
                }
                return names;
            }

            function Submit() {
                var validated = Validate();
                if (validated) {
                    var form = document.forms["survey"];
                    var survey = {};
                    @for((question, _) <- questions) {
                    survey.@question = parseInt(form["@question"].value);
                    }
                    var httpRequest = new XMLHttpRequest();
                    var url = "http://" + window.location.host + "/api/survey";
                    httpRequest.open("POST", url, true);
                    httpRequest.setRequestHeader("Content-type", "application/json");
                    httpRequest.onreadystatechange = function () {
                        if (httpRequest.readyState === 4) {
                            if (httpRequest.status === 200) {
                                var json = JSON.parse(httpRequest.responseText);
                                console.log(survey);
                            }
                            if (httpRequest.status === 201) {
                                window.location.href = "http://" + window.location.host + "/results";
                            } else {
                                document.getElementById('ValidationError').innerHTML += '<span style="color: red"><center>Error ' + httpRequest.status + '! Spróbuj jeszcze raz.</center></span><br>'
                            }
                        }
                    };
                    var data = JSON.stringify(survey);
                    httpRequest.send(data);

                }
            }
        </script>
        <title>Projekt RAIM</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("/stylesheets/main.css")">
    </head>
    <body>
        <div class="main">
            <h1>Ankieta na temat poglądów religijnych</h1><br>
        </div>
        <form name="survey" id="survey">
            <div class="box">
                @for(m <- message.split('\n')){
                    <center><h3>@m</h3></center>
                }
                @for(((name, body), qIndex) <- questions.zipWithIndex) {
                    <label id="@qIndex">
                        <span id="question@qIndex"><img src="@routes.Assets.at("images/favicon.png")"> @(qIndex+1).
                            @for((line, index) <- body("question").zipWithIndex) {
                                @if(index == 0) {
                                    @line:<br>
                                } else {
                                    <i style="font-size: 75%">@line</i><br>
                                }
                            }
                        </span>
                        <fieldset class="question" id="@qIndex">
                            @for((answer, aIndex) <- body("answers").zipWithIndex) {
                                <label><input type="radio" name="@name" value="@aIndex" /> @answer</label>
                            }
                        </fieldset>
                    </label>
                }
                <div id="ValidationError" name="ValidationError"></div>
                <label>
                <input type="button" class="button" id="button" value="Wyślj" onclick="return Submit()"/>
                </label>
            </div>
        </form>
    </body>
    
</html>